**.pyc
**.DS_Store

# ignore for now (validation observations GRIP-E)
data/objective_1/lake-erie/validation/csv/*
data/objective_1/lake-erie/validation/netcdf/*
data/objective_2/lake-erie/validation/csv/*
data/objective_2/lake-erie/validation/netcdf/*

dams-coordinates-save.py

data/dem_HydroSHEDS-90m_GreatLakes/rect_*.nc
data/dem_HydroSHEDS-90m_GreatLakes/rect_*.zip
data/dem_HydroSHEDS-90m_GreatLakes/slope_HydroSHEDS-90m_GreatLakes.tif_v1.1.zip
data/landcover_NALCMS_GreatLakes/landcover_NALCMS_GreatLakes.tif_v1.*.zip
data/landcover_NALCMS_GreatLakes/rect_landcover_NACLMS_GreatLakes_v1.*.txt.zip
#data/soilclass_GSDE_GreatLakes/*.nc
#data/soilclass_GSDE_GreatLakes/*.zip
data/Routing_product_v1.0/*.zip
data/meteo_forcing_RDRS/*.nc
data/meteo_forcing_RDRS/*.zip
data/meteo_forcing_RDRS/grids.dat
data/meteo_forcing_RDRS-v2/*.nc
data/meteo_forcing_RDRS-v2/aggregated/great-lakes/validation
data/all_gauges_grouped_*.pdf
data/GRIP_GL_gauge_info_20190822.xlsx
data/GRIP_GL_gauge_info_20190830.xlsx
data/GRIP_GL_gauge_info_20191105.xlsx

data/objective*/lake-erie/calibration/model/*/*_performance.pdf
data/objective*/lake-erie/calibration/model/*/*_hydrographs.pdf
data/objective*/lake-erie/calibration/*.pdf
data/objective*/lake-erie/calibration/model/*.zip

data/objective*/lake-erie/validation/model/*/*_performance.pdf
data/objective*/lake-erie/validation/model/*/*_hydrographs.pdf
data/objective*/lake-erie/validation/*.pdf
data/objective*/lake-erie/validation/model/*.zip

data/objective*/lake-erie/calibration/model/VIC-GRU/version_with_raven.zip
data/objective*/lake-erie/calibration/model/VIC/setup_hongren_*
data/objective*/lake-erie/calibration/model/GR4J-RAVEN-lp/setup_hongren_*
data/objective*/lake-erie/calibration/model/GR4J-RAVEN-sd/setup_hongren_*
data/objective*/lake-erie/calibration/model/GR4J-RAVEN-lp/setup_julie_*
data/objective*/lake-erie/calibration/model/GR4J-RAVEN-sd/setup_julie_*
data/objective*/lake-erie/calibration/model/MESH-CLASS/dan/*
data/objective*/lake-erie/calibration/model/MESH-CLASS/mohamed/*

data/routing_product/great-lakes/v1.3/version*_71_validation_gauges

data/objective*/great-lakes/validation/gauge_info.csv
data/objective*/great-lakes/validation/csv/*.csv
data/objective*/great-lakes/validation/csv/*.txt
data/objective*/great-lakes/validation/netcdf/*.nc
data/objective*/great-lakes/*/model/*/*_performance.pdf
data/objective*/great-lakes/*/model/*/*_hydrographs.pdf
data/objective*/great-lakes/*/model/*/*.zip

data/shapefiles/great-lakes/validation

scripts/setup_VIC_image_default/setup_VIC_image_default.py
results/GEM-Hydro
scripts/compare_models/*.pdf
scripts/compare_models/*.zip
scripts/gauge_data/*.pdf
scripts/process_netcdf/*.nc
scripts/add_leap_days

15min_WSC_gauge_data_raw*
15min_USGS_gauge_data_raw*
MPE_CaPA_products.dat

Metadata_LEB_gauges_201809_JM.docx
Results_summary.docx
scripts/compare_models/compare_results.xlsx
data/Model_setups_GRIP_old.xlsx
