**.pyc
**.DS_Store

# ignore for now (validation observations GRIP-E)
data/objective_1/lake-erie/validation/csv/*
data/objective_1/lake-erie/validation/netcdf/*
data/objective_2/lake-erie/validation/csv/*
data/objective_2/lake-erie/validation/netcdf/*

data/meteo_forcing_RDRS/*.nc
data/meteo_forcing_RDRS/*.zip

data/objective*/lake-erie/calibration/model/*/*_performance.pdf
data/objective*/lake-erie/calibration/model/*/*_hydrographs.pdf
data/objective*/lake-erie/calibration/*.pdf
data/objective*/lake-erie/calibration/model/*.zip

data/objective*/lake-erie/validation/model/*/*_performance.pdf
data/objective*/lake-erie/validation/model/*/*_hydrographs.pdf
data/objective*/lake-erie/validation/*.pdf
data/objective*/lake-erie/validation/model/*.zip

data/objective*/lake-erie/calibration/model/VIC-GRU/version_with_raven.zip
data/objective*/lake-erie/calibration/model/VIC/setup_hongren_*
data/objective*/lake-erie/calibration/model/GR4J-RAVEN-lp/setup_hongren_*
data/objective*/lake-erie/calibration/model/GR4J-RAVEN-sd/setup_hongren_*
data/objective*/lake-erie/calibration/model/GR4J-RAVEN-lp/setup_julie_*
data/objective*/lake-erie/calibration/model/GR4J-RAVEN-sd/setup_julie_*
data/objective*/lake-erie/calibration/model/MESH-CLASS/dan/*
data/objective*/lake-erie/calibration/model/MESH-CLASS/mohamed/*

scripts/compare_models/*.pdf
scripts/compare_models/*.zip
scripts/gauge_data/*.pdf
scripts/process_netcdf/*.nc
scripts/add_leap_days

